/*SPLASH PAGE CSS*/

@font-face {
  font-family: "VCR-OSD-Mono";
  src: url("/assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

@keyframes hovering {
  0% {
    margin-top: 100px;
  }
  50% {
    margin-top: 110px;
  }
  100% {
    margin-top: 100px;
  }
}

* {
  background-color: black;
  font-family: VCR-OSD-Mono;
  color: white;
  padding: 0px;
  margin: 0px;
}

.splash-container {
  width: 500px;
  height: 500px;
  border: 5px solid white;
  margin: auto;
  text-align: center;
}

.gameplay-container {
  width: 750px;
  height: 500px;
  border: 5px solid white;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.sliding-background {
  position: relative;
  z-index: 1;
  top: -110px;
  background: url("./assets/images/image.jpg") repeat-x;
  height: 500px;
  width: 5076px; /* The image width times 3 */
  animation: slide 25s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}

#title {
  font-size: 70px;
  margin-top: 150px;
  margin-bottom: 0px;
}

#splashBtn {
  border: 3px solid white;
  width: 200px;
  height: 50px;
  margin-top: 100px;
  animation-name: hovering;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#splashBtn:active {
  width: 205px;
  height: 55px;
}

/*CHARACTER CSS*/
.car {
  background-color: aqua;
  width: 40px;
  height: 20px;
  z-index: 2;
  position: relative;
  top: 480px;
}

.enemy1 {
  width: 50px;
  height: 30px;
  background-color: red;
  position: relative;
  z-index: 2;
  top: 450px;
  left: 700px;
  animation: moving 4s infinite linear;
}

.enemy2 {
  width: 50px;
  height: 30px;
  background-color: blue;
  position: relative;
  z-index: 2;
  top: 420px;
  left: 600px;
  animation: moving2 8s infinite linear;
}

.enemy3 {
  width: 50px;
  height: 30px;
  background-color: green;
  z-index: 2;
  position: relative;
  top: 390px;
  left: 500px;
  animation: moving3 12s infinite linear;
}

@keyframes moving {
  0% {
    left: 700px;
  }
  100% {
    left: 0px;
  }
}

@keyframes moving2 {
  0% {
    left: 1000px;
  }
  100% {
    left: 0px;
  }
}

@keyframes moving3 {
  0% {
    left: 1400px;
  }
  100% {
    left: 0px;
  }
}
